{% extends 'events/base_events_list.html' %}
{% load i18n %}

{% block title %}{% translate 'Events' %}{% endblock title %}

{% block header %}
  <h2 class="mb-4">{% translate 'Your upcoming streams' %}</h2>
{% endblock %}

{% block events_list %}
  {% for event in events %}
    {% include 'events/event_card.html' with event=event only %}
  {% empty %}
    <p>You haven't added any streams yet. Create one!</p>
    <a class="btn btn-info" href="{% url 'event_new' %}">
      <i class="bi bi-camera-video"></i>
      Add stream
    </a>
  {% endfor %}
{% endblock %}
