{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Delete Product' %}{% endblock title %}

{% block content %}
    <h1>{% translate 'Delete product' %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>{% translate 'Are you sure you want to delete ' %}"{{ product.name }}"?</p>
        <input type="submit" class="btn btn-danger" value="{% translate 'Confirm' %}">
        {% include "_cancel_button.html" with url_name='product_list' %}
    </form>

{% endblock content %}
